body {
  background-image: url(images/background.png);
  font-family: "calibri";
}

h2 {
  text-align: center;
}

.menubalk {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100px;
  border: 2px solid black;
  height: 275px;
  position: fixed;
  overflow: auto;
  background-color: #2bb1ff;
  border-radius: 5px;
    
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a:hover:not(.active) {
  background-color: #4d7cff;
  color: white;
}

li a.active {
  background-color: #4d7cff;
  color: white;
}

.column {
  float: left;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
  background-color: #2bb1ff;
  border: 2px solid black;
  border-radius: 5px;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  background-color: #4f93ff;
}
th {
  background-color: #4d7cff; 
}

h1 {
  font-weight: bold;
  font-size: 17px;
}

.guide a, li {
  text-align: left;
  text-decoration: none;
  border-bottom: 0px;
  list-style-type: square;
}

img {
  max-width: 100%;
  height: auto;
  width: auto/7;
}

.progressbar {
  background-color: grey;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

.progressbar>div {
  background-color: rgba(255, 0, 0, 0.6);
  width: 10%; 
  height: 15px;
  border-radius: 10px;
  font-size: 14px;
}
