body {
  background-image: url(images/background.png);
}

h2 {
  text-align: center;
}

#menubalk {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100px;
  border: 2px solid black;
  height: 100%;
  position: fixed;
  overflow: auto;
  background-color: #79b6d9;
    
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  text-align: center;
  border-bottom: 1px solid #555;
}

li a:hover:not(.active) {
  background-color: #4d7cff;
  color: white;
}

li a.active {
  background-color: #4d7cff;
  color: white;
}

.column {
  float: left;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
  background-color: #79b6d9;
  border: 2px solid black;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
}
#table-top {
  background-color: #4d7cff; 
}

#blok1 {
  background-color: orange;
}

h1 {
  font-weight: bold;
  font-size: 17px;
}

.guide a, li {
  text-align: left;
  text-decoration: none;
  border-bottom: 0px;
  list-style-type: square;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}